@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Inter&family=Outfit&family=Roboto&family=Rubik:wght@400;500;700&display=swap");
/*--------------------------------RESETS--------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
picture,
figure {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

/*---------------------------------SCSS variables -----------------------------
- Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%)
- Moderate Violet (chat on the left): hsl(276, 55%, 52%)
- Desaturated Dark Violet (chat on the right): hsl(271, 15%, 43%)
- Grayish Blue (placeholder text): hsl(206, 6%, 79%)
- Very Dark Desaturated Violet (main heading): hsl(271, 36%, 24%)
- Dark Grayish Violet (paragraph): hsl(270, 7%, 64%)


- Light Magenta: hsl(293, 100%, 63%)
- Light Violet: hsl(264, 100%, 61%)

- White: hsl(0, 0%, 100%)
- Light Grayish Violet (app background): hsl(270, 20%, 96%)
- Very Dark Desaturated Violet (submit button background): hsl(271, 36%, 24%)
- Very Light Magenta (radio button outline): hsl(289, 100%, 72%)
------------------*/
/*----TEXT-------*/
/*-------------GRADIENT------------------*/
/*------SECONDARY-------*/
.text-white {
  color: hsl(0, 0%, 100%);
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: black;
  background-color: hsl(270, 20%, 96%);
  padding: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.left-leaf {
  width: 40%;
  height: 85%;
  background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-bottom-left-radius: 50% 30%;
  border-bottom-right-radius: 50% 40%;
  position: absolute;
  top: -10px;
  left: -40px;
}

main {
  width: 100%;
  position: relative;
  height: 100vh;
}

main::after {
  content: "";
  display: block;
  width: 20%;
  height: 85vh;
  background: linear-gradient(hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  border-top-left-radius: 70% 35%;
  border-top-right-radius: 0%;
  position: absolute;
  top: 15%;
  bottom: -10px;
  right: -20px;
  opacity: 0.05;
  z-index: -1;
}

.chat-box {
  position: absolute;
  top: 15%;
  left: 32%;
  width: 280px;
  height: 580px;
  border-radius: 30px;
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat-box .chat-box__inner {
  background-color: hsl(270, 20%, 96%);
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.chat-box .chat-box__inner .chat-box__inner-top {
  background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  width: 100%;
  height: 90px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}
.chat-box .chat-box__inner .chat-box__inner-top .white-half-box {
  width: 60%;
  height: 24px;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.profile-box {
  display: flex;
  height: 70px;
  align-items: center;
  position: relative;
}
.profile-box .less-icon {
  margin-left: 8px;
}
.profile-box .profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
  margin: 8px;
}
.profile-box .profile-name {
  display: inline-block;
  color: hsl(206, 6%, 79%);
  font-weight: 500;
}
.profile-box .profile-status {
  display: block;
  color: hsl(276, 55%, 52%);
  font-size: 12px;
  margin-top: 5px;
}
.profile-box .menu {
  position: absolute;
  right: 20px;
}

.chat-window {
  display: grid;
  grid-auto-rows: auto;
}
.chat-window .chat-item {
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  text-wrap: wrap;
  min-width: 50px;
  min-height: 20px;
  max-width: 175px;
  margin: 5px;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat-window .chat-item.left {
  justify-self: start;
  background-color: #edd1ff;
  color: hsl(276, 55%, 52%);
}
.chat-window .chat-item.left-tag {
  justify-self: start;
  height: 40px;
  width: 190px;
  max-width: 190px;
  background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  color: hsl(276, 55%, 52%);
  position: relative;
  border-bottom-left-radius: 5px;
  align-items: center;
  justify-content: space-around;
}
.chat-window .chat-item.left-tag .hollow-circle {
  background-color: transparent;
  border: 2px solid #edd1ff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.chat-window .chat-item.left-tag span:nth-child(2) {
  font-size: 12px;
  color: #edd1ff;
  margin-left: -10px;
}
.chat-window .chat-item.left-tag span:nth-child(3) {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 600;
  margin-right: 5px;
}
.chat-window .chat-item.right {
  justify-self: end;
  background-color: hsl(0, 0%, 100%);
  color: hsl(271, 15%, 43%);
}
.chat-window .chat-item.right.no-bk {
  background-color: transparent;
}
.chat-window .chat-item.right picture {
  display: flex;
}
.chat-window .chat-item.right picture img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 8px;
}
.chat-window .chat-message {
  width: 90%;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-window .chat-message span {
  display: inline-block;
  color: hsl(206, 6%, 79%);
  font-size: 10px;
  padding-left: 20px;
}
.chat-window .chat-message i {
  padding: 5px;
  font-size: 28px;
}

.note-box {
  position: absolute;
  width: 35%;
  top: 40%;
  left: 60%;
}
.note-box h1 {
  font-size: 30px;
  color: hsl(271, 36%, 24%);
}
.note-box p {
  color: hsl(270, 7%, 64%);
  text-wrap: wrap;
  margin-top: 20px;
  line-height: 25px;
}

/*SMALL-mobile phones */
@media (min-width: 320px) and (max-width: 480px) {
  main::after {
    content: "";
    display: block;
    width: 50%;
    height: 85vh;
    background: linear-gradient(hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-top-left-radius: 70% 35%;
    border-top-right-radius: 0%;
    position: absolute;
    top: 50%;
    bottom: -10px;
    right: -20px;
    opacity: 0.05;
    z-index: -1;
  }
  .left-leaf {
    width: 60%;
    height: 82%;
    background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 90%;
    position: absolute;
    top: -10px;
    left: -40px;
  }
  .chat-box {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 280px;
    height: 570px;
  }
  .note-box {
    position: absolute;
    width: 90%;
    top: 98%;
    left: 10%;
    text-align: center;
    margin-bottom: 20px;
  }
  .note-box h1 {
    font-size: 30px;
    color: hsl(271, 36%, 24%);
  }
  .note-box p {
    color: hsl(270, 7%, 64%);
    text-wrap: wrap;
    margin-top: 20px;
    line-height: 25px;
    padding: 10px;
  }
}
/*SMALL-ipads tablets*/
@media (min-width: 481px) and (max-width: 768px) {
  main::after {
    content: "";
    display: block;
    width: 50%;
    height: 85vh;
    background: linear-gradient(hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-top-left-radius: 70% 35%;
    border-top-right-radius: 0%;
    position: absolute;
    top: 50%;
    bottom: -10px;
    right: -20px;
    opacity: 0.05;
    z-index: -1;
  }
  .left-leaf {
    width: 55%;
    height: 82%;
    background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 90%;
    position: absolute;
    top: -10px;
    left: -40px;
  }
  .chat-box {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 280px;
    height: 570px;
  }
  .note-box {
    position: absolute;
    width: 90%;
    top: 95%;
    left: 10%;
    text-align: center;
    margin-bottom: 20px;
  }
  .note-box h1 {
    font-size: 30px;
    color: hsl(271, 36%, 24%);
  }
  .note-box p {
    color: hsl(270, 7%, 64%);
    text-wrap: wrap;
    margin-top: 20px;
    line-height: 25px;
    padding: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .chat-box {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 280px;
    height: 570px;
  }
  .note-box {
    position: absolute;
    width: 35%;
    top: 40%;
    left: 70%;
  }
}/*# sourceMappingURL=style.css.map */